header 
  .left-header
    a(href="#")
      img(src="images/logo.png", alt="Logo")
    nav 
      ul.left-nav
        li.nav-item.active
          a(href="#") Головна
        li.nav-item
          a(href="#") Послуги
        li.nav-item
          a(href="#") Команда
        li.nav-item
          a(href="#") Відгуки
  .right-header 
     nav          
      ul.right-nav
        li.nav-item
          a(href="#") Безкоштовна консультація
        li.nav-item
          a(href="#")
            span.lang.active UA/
            span.lang ENG
