@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
$black : #0e0e0e;
$green : rgb(19, 125, 16);
html {
    font-size: 10px;
}

body {
    background-image: url("images/Theme.jpg");
    background-repeat: no-repeat;
    min-width: 100%;
    font-size: 14px;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color:$black;
}

nav,ul,.left-header,header {
    display:flex;
}
header {  
    justify-content: space-between;
    max-width: 144rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    align-items: center;
}
.nav-item {
    margin:0 1.5rem;
    list-style: none;
    padding-left: 0;
}
.nav-item a {
    text-decoration:none;
}

